    *{
      box-sizing: border-box;
    }

    body {
      margin: 0;
      background-image: url(https://data.whicdn.com/images/354295074/original.jpg?t=1616883156);
      font-size: 16px;
      font-family: Copperplate Gothic Light;
    }


    .wrap {
      display: flex;
      justify-content: right;
      align-items:right;
      min-height: 10px;
      padding-top: 10px;
    }

    /*Global Navigation*/

    .item {
      padding: 5px;
    }

    .item a {
      text-decoration: none;
    }

    .btn-Home{
      display: block;
      border: 0;
      font-size:16px;
      padding: 16px 30px;
      border-radius: 30px;
      background: #5AB9EA;
      color: black;
      cursor: pointer;
      transition: all 0.3s linear;
      clear: bottom;
      border: 3px white solid
    }

    .btn-Home:hover,
    .btn-Home:focus{
      background: #8692B8;
    }
    .btn-Home:active{
      background: #8692B8;
    }

    .btn-Blog{
      display: block;
      border: 0;
      font-size:16px;
      padding: 16px 33px;
      border-radius: 30px;
      background: #84CEEB;
      color: black;
      cursor: pointer;
      transition: all 0.3s linear;
      clear: bottom;
      border: 3px white solid;
    }

    .btn-Blog:hover,
    .btn-Blog:focus{
      background: #8692B8;
    }
    .btn-Blog:active{
      background: #8692B8;
    }

    .btn-About{
      display: block;
      border: 0;
      font-size:16px;
      padding: 16px 30px;
      border-radius: 30px;
      background: #A1919A;
      color: black;
      cursor: pointer;
      transition: all 0.3s linear;
      clear: bottom;
      border: 3px white solid;
    }

    .btn-About:hover,
    .btn-About:focus{
      background: #8692B8;
    }

    .btn-About:active{
      background: #8692B8;
    }

    /*Search Bar*/

   .search input[type=text]{
      width:213px;
      height:25px;
      border-radius :25px;
      border: none;
      margin-top: 15px;
    }
     
    .search{
      float:right;
      margin:3px;
    }
          
    .search button{
      background-color: #0074D9;
      color: #f2f2f2;
      float: right;
      padding: 5px 10px;
      margin-right: 16px;
      font-size: 12px;
      border: none;
      cursor: pointer;
      border-radius: 25px;
      margin-top: 15px;
    }

    .search i{
      font-size: 18px;
    }

    /*Header*/

    header{
      text-align: center;
      padding: 100px;
      font-size: 25px;
    }

    .headertext{
      border: 3px white solid;
      background-color: #BDC6DF;
      border-radius: 25px;
    }

    .headerimage img {
      border: 5px white solid;
      width: 200px;
      background-color: #BDC6DF;
      border-radius: 25px;
    }

    /*Video*/

    .video {
      border: 5px white solid;
      border-radius: 25px; 
      background-color: #BDC6DF;
    }

    .video h2 {
      text-align: center;
    }

    video {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    /* Blog Preview*/

    .preview {
      display: flex;
      align-items: center;
      justify-content: center;
      border:  5px solid white;
      border-radius: 25px;
      background-color: #BDC6DF;
    } 

    .preview img {
      padding: 20px;
      max-width: 150%;
    }

    .previewimage {
      float: right;
    }

    .text {
      font-size: 20px;
      padding-left: 7%;
      padding-bottom: 10px;
    }

    .text a{
      font-style: italic;
      text-decoration: none;
      color: black;
    }

    .text a:hover {
      color: purple;
    }

    /*Share Buttons*/

    .sbuttons {
        bottom: 5%;
        position: fixed;
        margin: 20px;
        right: 0;
    }

    .sbutton {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        margin: 20px auto 0;
        cursor: pointer;
        -webkit-transition: all .1s ease-out;
        transition: all .1s ease-out;
        position: relative;
    }

    .sbutton:active,
    .sbutton:focus,
    .sbutton:hover {
        background-color: transparent;
    } 

    .sbutton:not(:last-child) {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        opacity: 0;
    }
  
    .sbuttons:hover .sbutton:not(:last-child) {
        opacity: 1;
        width: 64.5px;
        height: 64.5px;
        margin: 15px auto 0;
    }

    .sbutton:nth-last-child(1) {
        -webkit-transition-delay: 25ms;
        transition-delay: 25ms;
    }

    .sbutton:not(:last-child):nth-last-child(2) {
        -webkit-transition-delay: 20ms;
        transition-delay: 20ms;
    }

    .sbutton:not(:last-child):nth-last-child(3) {
        -webkit-transition-delay: 40ms;
        transition-delay: 40ms;
    }

    .sbutton:not(:last-child):nth-last-child(4) {
        -webkit-transition-delay: 60ms;
        transition-delay: 60ms;
    }

    [tooltip]:before {
        font-family: 'Roboto';
        font-weight: 600;
        border-radius: 2px;
        background-color: #585858;
        color: #fff;
        content: attr(tooltip);
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        padding: 5px 7px;
        margin-left: 10px;
        position: absolute;
        right: 110%;
        bottom: 20%;
        white-space: nowrap;
    }

    [tooltip]:hover:before,
    [tooltip]:hover:after {
        visibility: visible;
        opacity: 1;
    }

      /*Footer*/

    footer {
        background-color: #E1E9FF;
        color: black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        min-height: 10px;
        font-size: 15px;
        font-style: italic;
        border-top: 3px solid white;
    }

    .SocialText {
      text-align: center;
    }

    .Socmed {
      display: flex;
      padding-top: 10px;
      justify-content: center;
    }
    .link {
        position: absolute;
        width: 5%;
        height: 5%;
    }

    .facebook a {
        float: left;
        width: 75px;
        height: 60px;
        background: url('../images/socmedsprite.png') no-repeat -85px -113px/250px 250px;
    }

    .instagram a {
        float: left;
        width: 75px;
        height: 60px;
        background: url('../images/socmedsprite.png') no-repeat -10px -115px/250px 250px;
    }

    .twitter a {
        float: left;
        width: 75px;
        height: 60px;
        background: url('../images/socmedsprite.png') no-repeat -15px -55px/250px 250px;
    }

    .facebook a:hover {
      float: left;
      width: 75px;
      height: 60px;
      background: url('../images/socmedsprite.png') no-repeat -85px -113px/250px 250px;
      transform: rotate(30deg);
    }

    .instagram a:hover {
      float: left;
      width: 75px;
      height: 60px;
      background: url('../images/socmedsprite.png') no-repeat -10px -115px/250px 250px;
      transform: rotate(30deg);
    }

    .twitter a:hover{
      float: left;
      width: 75px;
      height: 60px;
      background: url('../images/socmedsprite.png') no-repeat -15px -55px/250px 250px;
      transform: rotate(30deg);
    }

    .directcontact {
      display: block;
      text-align: center;
    }